body{
    margin: 0px; 
    height: 2000px;
    position: relative;
    background-color: rgb(55, 50, 50);
    
    margin: 0%;
    border: 0%;
}
.header{
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* border-radius: 0px 0px 30% 30%; */ /*Looked neat*/ 
   
}
.headerVideo{
    position: relative;
    display: inline-block;
    flex: 1;
    justify-content: center;
    align-items:center;
}
video{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.overlay{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: text 5s infinite;
} 
.textSwitch{
    margin: auto;
    font-size: 5rem;
    color: rgb(196, 209, 220);
    animation: textAnimation 5s infinite;
}
@keyframes text{
    0%, 100%{
        transfrom: scale(1);
    }
    50%{
        transform: scale(1.1);
    }

}

.wrapper{
    background: url(videos/background_img.png);
}
/* .mainBody{
    position: relative;
    height: 100%;
    display: flex;
} */
.intro{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin: 5% 5% 60px 5%;
    border-radius: 10px 10px 10px 10px;
    background: black;
    color: white;
    font-size: 30px;
}
.intro h3{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
.text{
    letter-spacing: 0.3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.techStackImages{
     max-height: 800px;
     
}
.techStackImages h1{
    display: block;
    font-size: 53px;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    background: linear-gradient(to left, rgb(126, 4, 247),  rgb(225, 225, 30));
}
.grid{
    padding: 13px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto; /*3  columns*/
    grid-column-gap: 20%;
    grid-row-gap: 40px;
}
.grid .item{
    border: 3px solid;
    border-color: antiquewhite;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgb(35, 246, 239), rgb(34, 31, 207));
}
.grid img{
    max-width: 100%;
    max-height: 100%;
}
.projects{
    min-width: 600px;
    margin-top: 130px;
}
.projectsHeader{
    position: relative;
    display: flex;
    font-size: 30px;
    text-align: center;
   justify-content: center;
    background-image: linear-gradient(to left, rgb(228, 19, 19), rgb(0, 255, 0));
    width: 100%;
    height: 90px;
    padding: 5px;
}
.projectsHeader h1{
    position: relative;
    bottom: 35px;
    margin-right: 5px;
}
.projectsHeader img{
    position: relative;
    width: 90px;
}
/* .projectsGrid{
    border: 3px solid red;
    grid-column-gap: 30%;
    grid-row-gap: 40px;
}
.projectsGrid .box{
    border: 3px solid red;
   
    height: 30px;
} */
